<footer id="footer">
  <div class="footer-left">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        <a target="_blank" href="https://icons8.com/icon/siPD7mKpiQFY/notebook">Notebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </ul>
    </nav>
  </div>
</footer>
