$color-background: #282828;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #928374;
$color-meta: #928374;
$color-meta-code: #928374;
$color-link: rgba(212, 128, 170, 1);
$color-text: #ebdbb2;
$color-accent-3: #d79921;
$color-accent-2: #fb4934;
$color-accent-1: #689d6a;
$color-quote: #ccffb6;
